{% if include_local_env | default(false) %}
'@{{ env }}':
  ssh: "{{ local_hostname_alias }}"
  path: "{{ www_root + '/' + item.key | regex_replace('^~\/','') }}/{{ item.value.current_path | default('current') }}/{{ item.value.public_path | default('web') }}/wp"
{% else %}
'@{{ env }}':
  ssh: "{{ web_user }}@{{ ansible_host }}:{{ ansible_port | default('22') }}"
  path: "{{ www_root + '/' + item.key | regex_replace('^~\/','') }}/{{ item.value.current_path | default('current') }}/{{ item.value.public_path | default('web') }}/wp"
{% endif %}
