# {{ .Name }}

| Environment | URL |
|-------------|-----|
| Development | http://{{ .DevHost }} |
| Production  | http://{{ .ProdHost }} |

## Requirements

- [trellis-cli](https://github.com/roots/trellis-cli) installed

## Local development setup

1. Clone this repository
2. Run `trellis init` to set up the virtual environment
3. Run `trellis vm start` to start the development server
4. Visit [{{ .DevHost }}](http://{{ .DevHost }})

## Deployment

`$ trellis deploy <environment>`

## Documentation

- [Trellis docs](https://roots.io/trellis/docs/)
- [Bedrock docs](https://roots.io/bedrock/docs/)
